.grid-container {
    display: grid;
    grid-template:
        [row-1-start] "header map map"
        [row-2-start] "building property land"
        / 1fr 1fr 1fr;
    padding: 50px 30px;
}

.data-element {
    background: #fff;
    padding: 0 30px 20px;
}

h1 {
    margin-top: 0 !important;
}

h2 {
    margin: 0;
}

h5 {
    margin-bottom: 2px;
}

.header {
    grid-area: header;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.buy-button {
    margin-top: 20px;
}

.land {
    grid-area: land;
}

.property {
    grid-area: property;
}

.building {
    grid-area: building;
}

.map-card {
    grid-area: map;
    padding-top: 20px;
}

.map {
    height: 300px;
}

.map-button {
    position: absolute;
    top: 10px;
    left: 60px;
    height: 32px;
    z-index: 2000;
    background: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    border: 2px solid rgba(0,0,0,0.2);
    cursor: pointer;
}
.map-button:hover{
    background: #f4f4f4;
}

.property-type {
    margin: 0 5px;
}

.centered-icon {
    vertical-align: middle;
}

@media only screen and (max-width: 800px) {
    .grid-container {
        grid-template:
                [row-1-start] "header"
                [row-2-start]  "map"
                [row-3-start] "building"
                [row-4-start] "property"
                [row-5-start] "land"
        / auto;
        padding: 50px 0;
    }
    .header {
        padding: 40px 20px 0;
        justify-content: flex-end;
    }
    .close-button {
        left: auto;
        right: 20px;
    }
}