@import '../../index';

.registry-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 0 10px;
  box-sizing: border-box;
}

.registry-search {
  margin-bottom: 30px;
}

.content-container {
  width: 100%;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

@media screen and (min-width: 1370px) {
  .registry-container {
    padding: 0;
    margin: 120px 115px 0;
    justify-content: flex-start;
    height: 100%;
    width: calc(100% - 230px);
    box-sizing: initial;
  }

  .user-properties {
    width: 75%;
    margin: 150px auto 0;
  }

  .content-container {
     display: flex;
     height: 100%;
     position: relative;
     overflow: hidden;
   }

  .results-map-container {
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .map {
    height: 100%;
    width: 100%;
  }

  .table-container {
    width: 100%;
    height: inherit;
    overflow: auto;
  }

  .popup-click-content {
    height: 100%;
    width: 100%;
  }

  .leaflet-popup-content-wrapper {
    border-radius: 3px;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2),0px 3px 4px 0px rgba(0, 0, 0, 0.14),0px 3px 3px -2px rgba(0, 0, 0, 0.12);
  }

  .leaflet-popup-tip {
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2),0px 3px 4px 0px rgba(0, 0, 0, 0.14),0px 3px 3px -2px rgba(0, 0, 0, 0.12);
  }

  .leaflet-popup-content {
    font-family: 'Open Sans', sans-serif;
    margin: 5px 8px;
    cursor: pointer;
  }
  .leaflet-popup-content:hover {
    text-decoration: underline;
  }
}


.greentext {
  color: #008B8A;
}

.zoneInfo {
  margin-top: 6px;
}

.key-dot {
  display: inline-block;
  height: 10px;
  margin-right: .5em;
  width: 10px;
}

.normal-text {
  color:black;
}

.zone1-color{
  background: #E2DC95;
}

.zone2-color{
  background: #95B1B0;
}

.zone3-color{
  background: #098BBA;
}

.form {
  *, *:after, *:before {box-sizing: border-box;}
  display: flex;
  padding-bottom: 3px;

  input {
    position: absolute;
    opacity: 0;

    &:checked + label svg path {
      stroke-dashoffset: 0;
    }
  }

  #showLegendLabel, #showTaxZonesLabel {
    --d: 20px;
  }

  span {
    padding-top: 3px;
    padding-left: 5px;
  }

  label {

    display: block;
    border: 1px solid #008B8A;
    width: var(--d); height: var(--d);
    border-radius: 3px;
    cursor: pointer;

    &.text-label{
      border: none;
      padding-top: 5px;
    }

    svg {
      pointer-events: none;
      path {
        fill: none;
        stroke: #008B8A;
        stroke-width: 4px;
        stroke-dasharray: 100;
        stroke-dashoffset: 101;
      }
    }
  }
}

