.card-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 2;
}

.result-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    width: 250px;
    height: 250px;
    margin: 15px;
}