.results-table {
    margin: 30px 0;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.table-icon {
    color: #888;
}

.table-important {
    font-weight: 600;
    grid-area: table-important;
}

.table-light {
    font-weight: 300;
    grid-area: table-light;
}

td:first-child {
    padding: 11px 0 11px 20px !important;
}

tr:nth-child(odd) td {
    background: #efefef !important;
}

.main-details {
    display: grid;
    grid-template:
        [row1-start] "table-important" [row1-end]
        [row2-start] "table-light" [row2-end]
        / auto;
}

@media screen and (min-width: 1200px) {
    .main-details {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "table-important table-light";
    }

    .table-important {
        margin-right: 80px;
    }
}