.results-table {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

td {
    vertical-align: middle !important;
    padding: 6px !important;
}

.table-icon {
    color: #888;
}

.table-important {
    font-weight: 600;
    grid-area: table-important;
    margin: 0;
}

.table-light {
    font-weight: 300;
    grid-area: table-light;
    margin: 5px 0 0;
}

.transaction-parties {
    margin: 5px 0 0;
}

td:first-child {
    padding: 5px 0 5px 20px !important;
}

td:last-child div img {
    vertical-align: middle;
}

tr:nth-child(odd) td {
    background: #efefef !important;
}

.main-details {
    display: grid;
    grid-template:
        [row1-start] "table-important" [row1-end]
        [row2-start] "table-light" [row2-end]
        / auto;
}

.non-ideal-search {
    margin-top: 150px;
}

.non-ideal-search span {
    color: #008C8C;
    opacity: 0.8;
}

.details-link {
    color: #008C8C;
    cursor: pointer;
}
.details-link:hover {
    text-decoration: underline;
}

@media screen and (min-width: 1200px) {
    .main-details {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "table-important table-light";
    }

    .table-important {
        margin: 5px 0 0;
    }

    .non-ideal-search {
        margin: 0;
    }

    tr td:first-child {
        border-left: 3px solid transparent;
        vertical-align: bottom !important;
        transition: 80ms;
    }
    .active td:first-child {
        border-left: 3px solid #008C8C;
    }

    .results-table {
        margin-bottom: 30px;
    }

    .user-properties-tr td:first-child {
        border-left: 3px solid transparent;
        transition: 80ms;
    }
    .user-properties-tr:hover td:first-child {
        border-left: 3px solid #008C8C;
    }
}