.search-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    position: fixed;
    top: 20px;
    left: 0;
    min-height: 100%;
    min-width: 2000px;
    width: 100%;
    height: auto;
}

.search-box {
    z-index: 2;
    position: relative;
    margin-bottom: 30px;
}

.search-header {
    color: white;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
}

.input-field {
    background: rgba(255, 255, 255, 0.85) !important;
    width: 300px;
    text-overflow: ellipsis;
    padding-right: 40px !important;
}

.search-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(255, 255, 255, 0.86);
}

@media screen and (min-width: 1200px) {
    .search-button {
        top: 0;
        right: 0;
    }

    .input-field {
        padding-right: 50px !important;
    }
}

