.search-container {
    margin-top: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.search-box {
    z-index: 2;
    position: relative;
}

.search-box-container {
    z-index: 2;
    animation: slide-in 400ms ease-out;
}

@keyframes slide-in {
    0% {
        margin-top: 100px;
        opacity: 0;
    }
    100% {
        margin-top: 0;
        opacity: 1;
    }
}

.search-header {
    color: white;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 10px;
}

.input-field {
    background: rgba(255, 255, 255, 0.85) !important;
    width: 300px;
    text-overflow: ellipsis;
    padding-right: 40px !important;
}

.search-button {
    position: absolute;
    box-sizing: border-box;
    top: 5px;
    right: 5px;
    background: rgba(255, 255, 255, 0.86);
}

@media screen and (min-width: 1370px) {
    .search-button {
        top: 4px;
        right: 5px;
    }

    .input-field {
        padding-right: 50px !important;
    }
}

