@import "../index";

.logo {
    height: 40px;
}

.logo-container {
    background: $pt-intent-primary;
    height: 80px;
    padding: 28px 12px;
    cursor: pointer;
    position: relative;
    border-radius: 0 0 5px 5px;
}


.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: $pt-intent-primary;
    z-index: 5;
    display: flex;
    justify-content: center;
    overflow: visible;
}

.login-action {
  color: $pt-intent-primary;
  font-size: 14pt;
  border: 2px solid $pt-intent-primary;
  border-radius: 5px;
  opacity: 0.95;
  cursor: pointer;
  transition: 200ms;
  height: 40px;
  margin-top: 10px;
  width: auto;
  min-width: 104px;
  padding: 0 28px;
}
.login-action:hover {
  opacity: 1;
}

.logged-in-container {
  position: fixed;
  top: 20px;
  width: 100%;
  background: white;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 55px;
}

.logged-in-actions {
  margin-left: 360px;
  display: flex;
}

.properties-button {
  color: $pt-intent-primary;
  border: none;
  background: white;
  margin-left: 4px;
  font-size: 18px;
}

.user-icon-small {
  padding: 0;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 2px solid $pt-intent-primary;
  background: white;
  color: $pt-intent-primary;
  font-size: 18px;
  font-weight: bold;
  margin-right: 16px;
}

.user-icon-large {
  background: white;
  border: none;
  font-size: 15px;
  color: $pt-intent-primary;
  cursor: pointer;
  margin-right: 110px;
}

.login-container {
  position: absolute;
  bottom: 35px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.login-container-top {
  position: fixed;
  top: 20px;
  width: 100%;
  background: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 100px;
  height: 55px;
  z-index: 3;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1),0 3px 4px 0 rgba(0, 0, 0, 0.1),0 3px 3px -2px rgba(0, 0, 0, 0.1);
}

.login-container-hidden {
  visibility: hidden;
}

.login-action-top {
  font-size: 15px;
  background: white;
  color: $pt-intent-primary;
  border: 1px solid $pt-intent-primary;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 20px;
}

.overlay-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.user-list {
  width: 100%;
  background: white;
  opacity: 0.9;
  padding: 0;
  margin: 0;
}

.list-item {
  padding: 10px;
  text-align: center;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  background: white;
  opacity: 0.85;
  width: 100%;
  height: 100%;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  font-size: 28px;
}

.menu-link {
  margin-top: 32px;
  border: none;
  background: transparent;
  color: $pt-intent-primary;
}

.menu-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: $pt-intent-primary;
}

.overlay-close {
  width: 100%;
  text-align: right;
  background: #fff;
  opacity: 0.9;
  padding: 10px;
  border-bottom: 1px solid $pt-intent-primary;
  color: $pt-intent-primary;
}


@media screen and (min-width: 1200px) {
  .logo {
    height: 40px;
  }

  .logo-container {
    height: 87px;
    padding: 27px 14px;
    margin-left: 113px;
  }

  .top-bar {
    justify-content: flex-start;
  }

  .logged-in-container {
    height: 55px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1),0 3px 4px 0 rgba(0, 0, 0, 0.1),0 3px 3px -2px rgba(0, 0, 0, 0.1);
  }

  .properties-button {
    margin-left: 30px;
    font-size: 17px;
    color: #666;
  }
  .properties-button:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  a {
    font-size: 16px;
  }

  .user-list {
    width: 300px;
    margin: 0;
  }

  .overlay-close {
    width: 300px;
    cursor: pointer;
  }

  .overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .login-container {
    bottom: 90px;
  }
}