@import "./taxareastats";

.monthly-tax-container {
  margin: 120px auto 40px;
  height: 100%;
  display: flex;
  position: relative;
}

.monthly-tax-table-container {
  width: 50%;
  margin-left: 120px;
  table {
    width: 90%;
    margin-bottom: 30px;
    tr {
      height: 42px;

      th {
        text-align: right;

        &.text-row {
          text-align: left;
        }
      }

      td {
        vertical-align: middle !important;
        text-align: right;

        &.text-row {
          text-align: left;
        }
      }
    }
  }
}

.reminder-button {
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1pt;
  background: #008c8c;
  color: white;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
  0 2px 1px -1px rgba(0, 0, 0, 0.12);
  transition: 200ms;
  cursor: pointer;
}
.reminder-button:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
  0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.reminder-button span {
  margin-left: 12px;
  opacity: 0.9;
}

.paid {
  background: #098bba;
}

.unpaid {
  background: #ff495b;
}

.table-icon {
  color: #888;
}

.monthly-charts-container {
  width: 50%;
  padding-bottom: 60px;
}

.hide-row {
  display: none;
}

@media screen and (max-width: 1380px) {
  .monthly-tax-table-container {
    margin-left: 10px;
  }
  .monthly-tax-container {
    display: block;
  }
  .monthly-charts-container {
    width: 75%;
    svg {
      viewbox: 0 0 60 55;
    }
  }
  .monthly-tax-table-container {
    width: 75%;
    table {
      width: 80%;
    }
  }
}