.payments-list {
  table {
    margin-bottom: 10px;
  }
}

.payment-row {
  width: 80%;
}

.payments-of-one-month {
  margin: 0;
}

.payment-td-start {
  width: 50px;
}

.payment-td {
  width: 150px;
}

.detailed-month {
  width: 70%;
  margin: 0 auto;
}