@import "./taxareastats";

.monthly-tax-container {
  margin: 120px auto 40px;
  height: 100%;
  display: flex;
  position: relative;
}

.monthly-tax-table-container {
  width: 50%;
  margin-left: 120px;

  tr:nth-child(even) td {
    background: #efefef !important;
  }

  tr:nth-child(odd) td {
    background: white !important;
  }

  table {
    tbody {
      .main-table-row {
          background: white !important;
      }
    }

    width: 90%;
    margin-bottom: 30px;

    tr {
      height: 42px;

      th {
        text-align: right;
        padding: 6px;

        &.text-row {
          text-align: left;
        }
      }

      td {
        vertical-align: middle !important;
        text-align: right;

        &.text-row {
          text-align: left;
        }
      }
    }
  }
}

.reminder-button {
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1pt;
  background: #008c8c;
  color: white;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
  transition: 200ms;
  cursor: pointer;
}
.reminder-button:hover:enabled {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.reminder-button:disabled {
  background: #00AAAD;
}

.legends {
  margin-left: 80px;
  justify-content: center;
  display: flex;
}

.legend {
  float: left;
  margin-right: 1em;
  padding-bottom: 20px;
}

.reminder-button span {
  margin-left: 12px;
  opacity: 0.9;
}

.paid {
  background: #00AAAD;
}

.unpaid {
  background: #ff495b;
}

.table-icon {
  color: #888;
}

.monthly-charts-container {
  //width: 50%;
  padding-bottom: 60px;
}

.hide-row {
  display: none;
}

h2{
  margin:0 calc(25%) 0;
}

@media screen and (max-width: 1380px) {
  .monthly-tax-table-container {
    margin-left: 10px;
    table {
      font-size: 12px;

      tr >th {
        padding: 0px;
    }

      svg{
        height: 12px;
        width: 12px;
      }
      .reminder-button{
        font-size: 12px;
        padding: 4px 8px;
      }
    }
  }
  .monthly-tax-container {
    display: block;
  }
  .chart {
    width: 75%;
  }
  .monthly-tax-table-container {
    width: 75%;
    table {
      width: 80%;
    }
  }
}
