.tax-area-table-container {
  margin: 120px auto 40px;
  width: 75%;

  table {
    width: 100%;

    tr {
      height: 42px;

      td {
        vertical-align: middle !important;
      }
    }
  }
}

.tax-area-container {
  height: 100%;
  position: relative;
}

.charts-container {
  width: 100%;
  padding-bottom: 60px;
}

.chart {
  display: inline-block;
  text-align: center;
}

.bar-chart{
  margin: 0 calc(12%) 0;
}

.total-row {
  font-weight: bold;
}

.legends {
  margin-left: 100px;
}

.legend {
  float: left;
  margin-right: 1em;
  padding-bottom: 20px;
}

.paid {
  background: #008B8A;
}

.unpaid {
  background: #FF0A22;
}

.key-dot {
  display: inline-block;
  height: 10px;
  margin-right: .5em;
  width: 10px;
}

@media screen and (max-width: 1380px) {
  .bar-chart{
    margin: 0 calc(50% - 300px) 0;
  }
  .pie-chart{
    margin: 0 calc(50% - 200px) 0;
  }
}