body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100% - 75px);
}

#root {
    height: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}
ul {
    list-style: none inside;
}
li a {
    color: #000;
    text-decoration: none;
}
li {
    padding: 0;
    border-bottom: 1px solid #008C8C;
}
li:hover,
.current-user {
    background-color: #e5e5e5;
    color: #008C8C;
    font-weight: bold;
    cursor: pointer;
}
.button{
    width:178px;
    height:18px;
    background-color:#0e5a8a ;
    padding:12px;
    border-radius:5px;
    font-weight:bold;
    color:white;
}
.button:before{
    content:"";
    position:absolute;
    width:0px;
    height:0px;
    border: 10px solid;
    border-color: white transparent transparent transparent;
    right:6px;
    top:18px;
}

.dropdown {
    top: -13px;
}

.my-properties {
    padding-bottom: 23px;
}

.body-container {
    height: 100%;
}

.input-field {
    margin-top: -15px;
    background: rgba(255, 255, 255, 0.85) !important;
    width: 300px;
    text-overflow: ellipsis;
    padding-right: 40px !important;
}