$pt-intent-primary: #008C8C;
$pt-link-color: #008C8C;
$pt-icon-color: #008C8C;
$pt-font-family: 'Open Sans', sans-serif !default;

@import "~@blueprintjs/core/src/blueprint.scss";

input::placeholder {
  color: $pt-intent-primary;
}

h3 {
  color: $pt-intent-primary;
}

.help-container {
  max-width: 600px;
  margin: 90px auto 30px;
  padding: 0 15px;
  text-align: justify;
}

.help-container h3 {
  text-align: center;
}

.help-container ul {
  list-style-type: none;
  padding: 0;
}
.help-container ul li:hover {
  color: #182026;
  font-weight: 400;
  background: transparent;
  cursor: default;
}

.help-container ul li {
  border: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.help-container img {
  margin: 0 10px 10px 0;
  opacity: 0.5;
}

.demo-link {
  margin: 30px auto;
  width: 100%;
  text-align: center;
}

.itl-logo-container {
  margin: 50px 0 30px;
  text-align: center;
}

@media screen and (min-width: 1370px) {
  .help-container {
    margin-top: 130px;
  }
}