body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100% - 20px);
}

.dropdown {
    position: relative;
    display: inline-block;
}
ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    bottom: 41px;
    width: 300px;
    overflow: auto;
    background-color: white;
    opacity: 0.9;
    position: absolute;
    text-align: center;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}
li a {
    color: #000;
    text-decoration: none;
}
li {
    padding: 10px 24px;
    border-bottom: 1px solid #008C8C;
}
li:last-child {
    border-bottom: none;
}
li:hover,
.current-user {
    background-color: #e5e5e5;
    color: #008C8C;
    font-weight: bold;
    cursor: pointer;
}
.button{
    width:178px;
    height:18px;
    background-color:#0e5a8a ;
    padding:12px;
    border-radius:5px;
    font-weight:bold;
    color:white;
}
.button:before{
    content:"";
    position:absolute;
    width:0px;
    height:0px;
    border: 10px solid;
    border-color: white transparent transparent transparent;
    right:6px;
    top:18px;
}

.dropdown {
    top: -13px;
}

.my-properties {
    padding-bottom: 23px;
}

.body-container {
    margin-top: 20px;
    height: calc(100% + 20px);
}

.input-field {
    margin-top: -15px;
    background: rgba(255, 255, 255, 0.85) !important;
    width: 300px;
    text-overflow: ellipsis;
    padding-right: 40px !important;
}

.logo-container {
    background: #008C8C;
    height: 70px;
    padding: 20px 12px;
    cursor: pointer;
    position: relative;
}

@media screen and (max-height: 800px) {
    ul {
        max-height: 490px;
    }
}