body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100% - 85px);
}

#root {
    height: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}
ul {
    list-style: none inside;
}
li a {
    color: #000;
    text-decoration: none;
}
li {
    padding: 0;
    border-bottom: 1px solid #008C8C;
}
li:hover,
.current-user {
    background-color: #e5e5e5;
    color: #008C8C;
    font-weight: bold;
    cursor: pointer;
}
.button{
    width:178px;
    height:18px;
    background-color:#0e5a8a ;
    padding:12px;
    border-radius:5px;
    font-weight:bold;
    color:white;
}
.button:before{
    content:"";
    position:absolute;
    width:0px;
    height:0px;
    border: 10px solid;
    border-color: white transparent transparent transparent;
    right:6px;
    top:18px;
}

.dropdown {
    top: -13px;
}

.my-properties {
    padding-bottom: 23px;
}

.body-container {
    height: 100%;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #008C8C;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}

