.owner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 30px;
    margin-top: 30px;
    box-sizing: border-box;
    font-size: 90%;
}

.container-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.container-card h3 {
    font-size: 18px;
    font-weight: 400;
}

.main-address {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    margin: 10px 0;
}

.icon-img {
    margin: 0 10px;
    cursor: pointer;
}

.secondary-address {
    font-size: 16px;
    font-weight: 300;
}

.owners {
    margin: 0 15px;
}

h5 {
    font-size: 12px;
}

.owner-name {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
}

.action-icon {
    color: #888;
    margin: 0 30px;
    display: none;
}

.actions {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payment-button {
    margin: 40px 0;
    padding: 8px 16px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.1pt;
    align-self: center;
    display: flex;
    align-items: center;
    background: #008C8C;
    color: white;
    border: none;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),0 1px 1px 0 rgba(0, 0, 0, 0.14),0 2px 1px -1px rgba(0, 0, 0, 0.12);
    transition: 200ms;
    cursor: pointer;
}
.payment-button:hover {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),0px 4px 5px 0px rgba(0, 0, 0, 0.14),0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.payment-button span {
    margin-left: 12px;
}

.loading-spinner {
    margin-left: 12px;
}

.loading-spinner .bp3-spinner-head {
    stroke: white;
}

.loading-spinner .bp3-spinner-track {
    stroke: rgba(255, 255, 255, 0.2);
}

.transaction-overview {
    padding: 0;
    margin: 30px auto;
    opacity: 0.8;
}

.transaction-overview li {
    border: none;
    margin-top: 8px;
}

.transaction-overview img {
    width: 18px;
    height: 18px;
    vertical-align: text-bottom;
}

.transaction-overview span {
    color: #EE4B5C;
    width: 18px;
    height: 18px;
    vertical-align: text-bottom;
}

.sign-contract-button {
    border: none;
    background: #888;
    color: white;
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    transition: 200ms;
}
.sign-contract-button:hover {
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2),0px 3px 4px 0px rgba(0, 0, 0, 0.14),0px 3px 3px -2px rgba(0, 0, 0, 0.12);
}

.cancel-transaction {
    align-self: center;
    margin-top: 50px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    color: #008C8C;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 32px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    transition: 200ms;
}
.cancel-transaction:hover {
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2),0px 3px 4px 0px rgba(0, 0, 0, 0.14),0px 3px 3px -2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 1200px) {
    .owner-container {
        margin: 0 180px;
        padding: 0;
        align-items: center;
        width: calc(100% - 360px);
        font-size: 100%;
    }

    .container-card h3 {
        font-size: 24px;
    }

    .cancel-transaction {
        align-self: flex-start;
    }

    h5 {
        font-size: 15px;
    }

    .owners {
        margin: 0;
    }

    .owner-name {
        font-size: 20px;
        font-weight: 600;
    }

    .action-icon {
        display: block;
    }

    .transaction-overview {
        margin: 30px 0;
    }
}